#Ignore all log files
*.log

#Ignore fitness curve csv
logs/curve_log/*.csv

#Ignore output graphs
logs/output_curve/*.png

#Ignore test records
logs/*.csv 

logs/visualize_data.txt  

#Ignore python cache
_pycache__/

#ignore config file
controller.ini

