body {
    overflow: hidden;
}
html {
    overflow: hidden;
}

#main-name-title {
    font-family: 'Sen', sans-serif;
    font-size: small ;
    letter-spacing: 0.5em;
}



#list_view {
    background-color: #0f0f0f;
    height: 25rem;
    overflow-y: auto;
    font-family: 'Nunito', sans-serif;
    margin-right: 0.8em;
}


#city_list {
    list-style-type: none;
    align-items: center;
}

#city_list li {
    padding: 10px;
    border-radius: 25px;
    margin: 0.25em;
    transition: all 0.20s;   
}

#city_list li:hover {
    background-color: #383737;
}

#city_coords {
    align-self: center;
    margin: 0.1em;
}

#fileinput {
    display: none;
}

.head {
    height: 8vh;
    align-items: center;

}

#side-bar {
    height: 92vh;
    background-color: #0f0f0f;
}


input {
    padding: 5px;
    margin-bottom: 1.2em;
}

.butn {
    margin: 0.5em;
    width: 155px;
    display: inline-block;
    font-family: 'Nunito', sans-serif; 
    font-size: smaller ;
}


#latlangio input {
    background-color: rgb(37, 35, 35);
    border-style: none;
    border-radius: 0px;
    color: #a0a0a0;
    width: 5 rem;
    margin-right: 1em;
}

.inline {
    display: flex;
}

.inline label {
    margin: 0.2em;
    width: 8.5em;
    text-align: start;
    color: rgb(141, 138, 138);
}

#list_view::-webkit-scrollbar {
    width: 6px;
    background-color: #0f0f0f;
} 

#list_view::-webkit-scrollbar-thumb {
    background-color: #c52b66;
    border-radius: 5em;
}

#list_view::-webkit-scrollbar-track {
    border-radius: 10em;
    background-color: rgb(49, 49, 49);
}

.delete {
    background-color: rgb(49, 48, 48);
    margin-right: 1em;
    float: right;

}

#map_grid {
    background-color: #2c2c2c;
    width: 80vw;
    height: 92vh;
    overflow: hidden;
}

#overlay_dist {
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    padding: 25px;
    z-index: 2;
    background-color: #bdbbbc;
    box-shadow: 0px 5px 5px #222222;
    left: 0;
    right:0;
    bottom: 25px;
    border-radius: 5em;
    width: 20em;
}

#reset{
    align-self: end;

}
