body {
    overflow: hidden;
}

html {
    overflow: hidden;
}

#main-name-title {
    font-family: 'Sen', sans-serif;
    font-size: small;
    letter-spacing: 0.5em;
}



#list_view {
    background-color: #0f0f0f;
    height: 45rem;
    overflow-y: auto;
    font-family: 'Nunito', sans-serif;
    margin-top: 0.7em;
    margin-right: 0.8em;
}


#city_list {

    list-style-type: none;
    align-items: center;
}

#city_list li {
    padding: 10px;
    border-radius: 15px;
    margin: 0.25em;
    transition: all 0.20s;
}

#city_list li:hover {
    background-color: #383737;
}



.warehouse {
    background-color: rgb(241, 179, 44);
}


#fileinput {
    display: none;
}

.head {
    height: 8vh;
    align-items: center;

}



#side-bar {
    height: 92vh;
    padding-right: 0;
    background-color: #0f0f0f;
}


#butn {
    margin: 0.5em;

    font-family: 'Nunito', sans-serif;

}


.columns.is-gapless:not(:last-child) {
    margin-bottom: 0; 
}



.inline {
    display: flex;
}

.inline label {
    margin: 0.2em;
    width: 8.5em;
    text-align: start;
    color: rgb(141, 138, 138);
}

#list_view::-webkit-scrollbar {
    width: 6px;
    background-color: #0f0f0f;
}

#list_view::-webkit-scrollbar-thumb {
    background-color: #c52b66;
    border-radius: 5em;
}

#list_view::-webkit-scrollbar-track {
    border-radius: 10em;
    background-color: rgb(49, 49, 49);
}

.delete {
    background-color: rgb(49, 48, 48);
    margin-right: 1em;


}

.opt_btn {
    background: #292828;
    width: 10em;
    padding: 0.5em;
    font-weight: bold;
    border: none;
    border-radius: 25px;
    letter-spacing: 0.1em;
    margin-left: 2.5em;
    border-radius: 12px;
    font-size: small;
    font-family: 'Varela Round', sans-serif;
    color: #ffffff;
}

.opt_btn:hover {
    color: #e01469;
}

#map_grid {
    background-color: #ffffff;
    height: 89vh;
    overflow: hidden;
}


#run {
    display: none;
    margin: 0.5em;

}

#params {
    padding: 0.5em;
    background-color: #383737;
}

h2 {
    font-weight: bolder;
}